<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Simple Drive</title>
</head>
<body>
	ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT? <br>
	<form method="GET" action='/delete-account'>
		<br><input type="radio" value = "no" name="check" checked> NO <br>
		<input type="radio" value = "yes" name="check"> YES <br>
		<input type="submit" value="submit">
	</form>
</body>